<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>Clock!</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="angular.js"></script>

    <script src="bootstrap.js"></script>

    <script src="parentCtrl.js"></script>
</head>
<body >

    <div ng-controller="parentCtrl">

        <p class="missing">MISSING</p>
        <p class="ok">MISSING</p>
        <hr>
        <p ng-class = "getClass()">NAME : <input type="text" ng-model="name" ng-class="name == '' ? 'missing' : 'ok'"></p>
        <p ng-class = "getClass()">Email : <input type="text" ng-model="email" ng-class="email == '' ? 'missing' : 'ok'"></p>
        <p ng-class = "getClass()">Age : <input type="number" ng-model="age" ng-class="age == '' ? 'missing' : 'ok'"></p>


        <p>Verification : <input type="text" ng-model="Verification" ng-class="varification_class()"></p>


    </div>

    
    <br>
</body>
</html>